@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using System.Globalization
@attribute [Authorize]

<PageTitle>SC CIC Malware Detonation Portal</PageTitle>

@if (sampleUploaded == false)
    {
    /*
    Need to nest below button into a container type for the form and center it on the page.
    Potentially need a different control for InputFile, however,
    InputFile is the simplest one available for file upload for Blazor out of the box.
    */
    <div>
    <InputFile OnChange="@LoadFile" class="btn btn-primary" />
    </div>
    <div>
        @if (isLoading)
        {
            <p>Uploading...</p>
        }
        else
        {
            //Show HTML element including uploaded file name to indicate file successfully uploaded.
        }
    </div>
}
else
{
    //display component that shows uploaded file name to indicate file has been uploaded

    //display submit button
    
    //display additional fields, if necessary, such as email if can't be pulled from azure AD user data
}



@code {

    private bool isLoading;
    private bool sampleUploaded = false;

    private string encodedSample;

    //zip file password with default
    private string filePassword = "infected";

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        isLoading = true;
        var sampleFile = e.File;
        // process sampleFile for upload, persist to encodedSample property?

        //process file header to determine if zip file by looking for PKZip header?

        //if not zip file, compress and set default password -- lock password field in this case

        isLoading = false;
    }

    private async Task SubmitToApi()
    {
        //call API
    }
}