@using sccic_malware_detonation_portal.Shared
@using Microsoft.AspNetCore.Components
@using System.Runtime.InteropServices
@namespace sccic_malware_detonation_portal

@inherits LayoutComponentBase

<div id="container" @ref="container">
    <header>
            <div class="switches">
            <FluentSwitch @bind-Value="@_inDarkMode" @onchange=SwitchTheme title="Switch theme">
                <span class="label">Theme</span>
                <span slot="unchecked-message">light</span>
                <span slot="checked-message">dark</span>
            </FluentSwitch>
        </div>
 </header>
    <main>
        <div class="content">
            <article>
                @Body
            </article>
        </div>
    </main>
</div>